.criteria {
  padding: 94px 0;
}
.criteria_list {
  display: flex;
}
.criteria_icon {
  min-width: 270px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.criteria_item:not(:last-child) {
  margin-right: 30px;
}
.criteria_header {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-header;
}
.criteria_paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
