.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
.team-header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-header;
}

.team-list {
  display: flex;
  justify-content: center;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-position {
  display: block;
  width: 270px;
  padding: 30px 0;
  background-color: $white-color;
}

.team-list-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: $secondary-header;
}
.team-list-proffesion {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.networks-list {
  display: flex;
  max-width: 206px;
  margin: 0 32px;
}
.networks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: $icon-color;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 250ms $hover-time;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team-networks {
  fill: currentColor;
  transition: fill 250ms $hover-time;
}
.networks:hover .team-networks {
  fill: $white-color;
}
