.footer-subscription {
  margin-left: 93px;
}

.footer-input {
  padding-left: 20px;

  height: 50px;
  min-width: 358px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: $white-color;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.footer-button {
  position: absolute;
  margin-left: 12px;
  border: 0px;
  padding-right: 40px;

  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #ffffff;
  cursor: pointer;
}
.subscription-icon {
  position: absolute;

  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
